.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dt-item .dt-link {
  padding: 6px 8px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 8px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 500;
  color: #8a93a6;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.dt-item .dt-link:hover {
  background-color: #ebf2fd;
  color: #5a8dee;
}

.disabled .dt-link {
  background-color: #f6f7fb;
  color: #d7dae0;
  cursor: not-allowed;
}

.dt-item:first-child .dt-link,
.dt-item:last-child .dt-link {
  background-color: #f6f7fb;
}

.dt-item.active .dt-link {
  background-color: #5a8dee;
  border-color: #5a8dee;
  color: #fff;
}
